:root {
    --light: #fdf0e8;
    --card-bg: #f5d7c8;
    --delete-button-bg: #f1c7b2;
    --dark: #c08879;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 100px;
    background-color: var(--light-bg);
    color: var(--dark);
    align-items: center;
    padding: 48px;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px;
    background-color: var(--light);
    min-height: calc(100vh - 100px);
}

.card-container {
    background-color: var(--dark-bg);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
}

.card {
    display: grid;
    gap: 12px;
    background-color: var(--card-bg);
    color: var(--dark);
    border-radius: 12px;
    padding: 24px;
}

#new-book-button {
    width: 150px;
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    background-color: var(--dark);
    color: var(--light);
    font-size: 1rem;
}

#add-book-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px 24px 36px 24px;
    color: var(--dark);
    border: none;
    
    form {
        display:grid;
    }

    label {
        margin-bottom: 6px;
    }

    input, select {
        font-size: 1rem;
        border: 2px solid var(--dark);
        margin-bottom: 18px;
        border-radius: 5px;
        padding: 6px 12px;
        color: var(--dark);

    }

    select {
        appearance: none;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 15l-4.243-4.243 1.415-1.414L12 12.172l2.828-2.829 1.415 1.414z'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right;
    }

    #add-book-button {
        padding: 12px 18px;
        border: none;
        border-radius: 6px;
        background-color: var(--delete-button-bg);
        color: var(--dark);
        font-size: 1rem;
    }

    #cancel-button {
        border: none;
        background-color: #FFF;
        color: inherit;
        width: 30px;
        height: 30px;
        justify-self: flex-end;
        font-size: 24px;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        gap: 12px;
    }

}

.delete-button,
.read-button {
    width: 100%;
    padding: 18px 0px;
    border-radius: 12px;
    border: none;
}

.delete-button {
    background-color: var(--delete-button-bg);
    color: var(--dark);
}

.read-button {
    background-color: var(--light);
    color: var(--dark);
}
