:root {
    --bg: #f5d7c8;
    --box-bg: #fdf0e8;
    --button-bg: #ecaf92;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    margin: 24px;
}

.main-container {
    display: grid;
    gap: 24px;
    padding: 24px;
}

.card-container {
    background-color: var(--dark-bg);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
}

.card {
    display: grid;
    gap: 12px;
    background-color: #E3D4B9;
    border-radius: 12px;
    padding: 24px;
}

#new-book-button {
    width: 150px;
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    background-color: #E3D4B9;
    font-size: 1rem;
}

#add-book-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px 24px 36px 24px;
    border: none;
    
    form {
        display:grid;
    }

    label {
        margin-bottom: 6px;
    }

    input, select {
        font-size: 1rem;
        border: 2px solid #D8D8D8;
        margin-bottom: 18px;
        border-radius: 5px;
        padding: 6px 12px;
    }

    #add-book-button {
        padding: 6px 12px;
        border: none;
        border-radius: 6px;
        background-color: #E3D4B9;
        font-size: 1rem;
    }

    #cancel-button {
        border: none;
        background-color: #FFF;
        width: 30px;
        height: 30px;
        justify-self: flex-end;
        font-size: 24px;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        gap: 12px;
    }

}

.delete-button,
.read-button {
    width: 100%;
    padding: 18px 0px;
    border-radius: 12px;
    background-color: #808080;
    border: none;
}

.read-button {
    background-color: #D3D3D3;
}
